body{
    background: #0d0918;
    color: #ffe6ff;
    padding: 30px;
    font-family:sans-serif;
}

/* unvisited link */
a:link {
  color: #d6d6f5;
}

/* visited link */
a:visited {
  color: #666699;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #6f6fdc;
}

section{
    display: flex;
    padding: 5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 150px;
}

div.projects{
    padding: 5px;
    margin-left: 20px;
    font-size: 110%
}

div.home{
    width: 70%;
    margin: 0 auto;
    padding: 5px;

}

div.menu{
    border-radius: 25px;
    border: 3px solid #666699;
    width: 400px;
    margin: auto;
}

p.about{
    text-align: justify;
    font-size: 120%;

}

h1.name{
    font-family: "Consolas", monospace;
    overflow: hidden;
    border-right: .15em hotpink;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(20, end) forwards,
        blink .8s infinite;
}

/* Typing effect for name*/
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink {
  from { border-color: transparent }
  to { border-color: hotpink; }
}

h2.menu{
    text-align:center;
    padding: 15px;
}

h2.social{
    text-align:center;
    margin-top: 150px;
}

img.comp{
    margin-left: 100px;
}

img.bio{
    margin-top: 50px;
}