
<div class="menu">
    <a href="/" title="Home"><i class="fa-solid fa-house"></i></a> &nbsp;&nbsp;
    <a href="/about" title="About"><i class="fa-regular fa-circle-user" style="font-size:36px;"></i></a> &nbsp;&nbsp;
    <a href="/projects" title="Projects"><i class="fa-solid fa-code-fork" style="font-size:36px;"></i></a> &nbsp;&nbsp;
    <a href="/resume" title="Resume" target="_blank"><i class="fa-regular fa-file" style="font-size:36px;"></i></a>&nbsp;&nbsp;&nbsp;
    <a href="/certifications" title="Certifications"><i class="fa-solid fa-certificate" style="font-size:36px;"></i></a>

</div>
