<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.html" %}
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">

    {% include "_menu.html" %}

    <section class="about">
        <img class="bio" src="/static/EAHeadshot.png" alt="Erika Avila">
        <div>
            <h1 style="font-family: Fira Code, monospace;">About Erika</h1>

            <p class="about">Erika Avila earned her Bachelor of Science in Computer Science from Florida State University in December 2024.
                Her academic foundation also includes a Bachelor of Arts in Interdisciplinary Studies from Florida International University and an Associate in Arts in Biology from Miami Dade College.
                Born in Colombia and based in Miami, she brings a global perspective to her technical work.
                <br><br>
                Her professional background includes an extensive tenure at The Peebles Corporation, where she has served in several roles including Accounting Administrator and Executive Assistant since 2012.
                These roles have given her valuable insight into corporate operations and relationship management, complementing her technical skill set.
                <br><br>
                In 2024, Erika advanced her software development career at Boxraw Labs, a British athletic apparel company which leverages data analytics and cutting-edge technology to transform athletic performance in boxing.
                As a data analyst reporting directly to the CTO, she developed data analysis solutions using Python, focusing on processing and visualizing large-scale athletic performance datasets.
                <br><br>
                While Erika's early exposure to computers sparked her interest in technology, she made a strategic pivot to software development, exemplifying her commitment to continuous learning and professional growth.
                She maintains proficiency in Python and data analysis, while pursuing her personal interests in martial arts, travel and photography.
            </p>
        </div>
    </section>


</body>
</html>