<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.html" %}
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
    {% include "_menu.html" %}

    <div class="certifications">
        <a href ="https://learn.microsoft.com/en-us/users/erikaavila-6443/credentials/4569858ad9ac50f8?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank"><img class="certimg" src="static/Microsoft.png" alt="Microsoft"></a>
        <a href ="https://courses.opencv.org/certificates/17c091c37c6844818a295d6fa425d5de" target="_blank"><img class="certimg" src="static/OpenCV.png" alt="OpenCV"></a>
        <a href ="https://www.credly.com/badges/0a319d29-5062-4e1d-a317-92ccd40ad943/public_url" target="_blank"><img class="certimg" src="static/IBM_Orientation.png" alt="IBM1"></a>
        <a href ="https://www.credly.com/badges/42fc95fb-be59-4db4-8b56-ac36ce8c8a12/public_url" target="_blank"><img class="certimg" src="static/IBM_Methodology.png" alt="IBM2"></a>
        <a href ="https://www.credly.com/badges/0d6679c7-0cc5-4bbb-8d6f-eba362f089e2/public_url" target="_blank"><img class="certimg" src="static/IBM_Tools.png" alt="IBM3"></a>
        <a href ="https://www.credly.com/badges/4cdf5e62-989a-48dc-92fb-13540e50e2a2/public_url" target="_blank"><img class="certimg" src="static/IBM_Python.png" alt="IBM4"></a>
    </div>


</body>
</html>