<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Users</title>
    {% include "_head_allocredit.html" %}
</head>
<body>

{% if session['logged_in'] and session['admin1'] %}
{% include "_body_menu_allocredit.html" %}

<!--- creating a new table--->
<table border=1 >

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    {% for row in rows.itertuples() %}
    <tr>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>

    </tr>
    {% endfor %}
</table>

{% endif %}
</body>
</html>