<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.html" %}
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">

    {% include "_menu.html" %}
    <div class="home">
        <h1 class="name">Erika Avila <i class="fa-regular fa-heart"></i></h1>

        <section>
            <p style="font-size: 160%">This is a portfolio designed to showcase some projects <br> Erika has worked on, including this website!</p>
            <img class="comp" src="/static/ComImage.png" alt="computer image" style="width:350px;height:250px;">
        </section>
    </div>

    <h2 class="social">
        <a href="https://www.linkedin.com/in/erika-d-avila/" target="_blank"><i class="fa-brands fa-linkedin" style="font-size:24px;"></i></a> &nbsp;
        <a href="https://github.com/erika-0129" target="_blank"><i class="fa-brands fa-github" style="font-size:24px;"></i></a> &nbsp;
        <a href="https://www.instagram.com/erika_0129/" target="_blank"><i class="fa-brands fa-instagram"></i></a> &nbsp;
        <a href="mailto:eavila0194@gmail.com"><i class="fa-regular fa-envelope"></i></a>
    </h2>

</body>
</html>