<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_head.html" %}
    <title>Projects</title>
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">

    {% include "_menu.html" %}

    <section class="projects">
        <h1 style="font-family: Fira Code, monospace;"><i class="fa-solid fa-laptop-code"></i> Projects</h1>
        <p>Below are some of Erika's most recent projects:</p>

        <h3>Tic Tac Nole, 1 or 2 player</h3>
        <p><i class="fa-brands fa-java"></i> <i class="fa-brands fa-android"></i> &nbsp; An Android game using Android Studio and Java.<br>
            <a href="https://youtube.com/shorts/_NeIc50JcUY?feature=share" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://github.com/erika-0129/TicTacToe" target="_blank"><i class="fa-brands fa-github"></i></a></p>

        <h3>Rock, Paper, Spear Android Game</h3>
        <p><i class="fa-brands fa-java"></i> <i class="fa-brands fa-android"></i>&nbsp; An Android game using Android Studio and Java.<br>
            <a href="https://youtube.com/shorts/pGJNd21kVBQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://github.com/erika-0129/RockPaperSpear" target="_blank"><i class="fa-brands fa-github"></i></a></p>

        <h3>Weather App Android App</h3>
        <p><i class="fa-brands fa-java"></i> <i class="fa-brands fa-android"></i> <i class="fa-regular fa-sun"></i>&nbsp; An Android app using Android Studio and Java.<br>
            <a href="https://youtu.be/FSUnO56_J0I" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://github.com/erika-0129/WeatherAppAndroid" target="_blank"><i class="fa-brands fa-github"></i></a></p>

        <h3>BudgetBuddy, an accounting allocation program</h3>
        <p><i class="fa-brands fa-python"></i>&nbsp; A program created via Python using Google Gemini API to search transactions and give them a one-word allocation.<br>
            <a href="https://youtu.be/srmLkn06K24" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://github.com/erika-0129/AccountingAllocations" target="_blank"><i class="fa-brands fa-github"></i></a></p>

        <h3>This website! <i class="fa-regular fa-face-smile-wink"></i></h3>
        <p><i class="fa-brands fa-python"></i> <i class="fa-brands fa-css"></i>&nbsp; Created using Python Flask and incorporating HTML and CSS.<br>
            <a href="https://github.com/erika-0129/eawebsite" target="_blank"><i class="fa-brands fa-github"></i></a></p>

        <h3>Simple Valentine's day website: <a href="/valentines"><br>Valentine's Question</a></h3>
    </section>

</body>
</html>