{% extends "layout.html" %}
{% block title %} Resume {% endblock %}
{% block body %}
    
    <div class="main-grid">
        <main>
            <p class="eyebrow">skills and experience</p>
            <h1 class="page-title">Erika Avila | Resume</h1>
            <p class="intro">
                Erika Avila is a versatile professional with a B.S. in Computer Science and over a decade of experience supporting executive operations at a leading real estate investment firm. 
                Most recently, she developed Python-based data solutions at Boxraw Labs, analyzing and visualizing large-scale athletic performance data. 
                She continues to expand her expertise through personal projects and certifications in web and software development.
            </p>
            
            <p class="eyebrow">job experience</p>
            <div class="job-experience">
                <div class="job">
                    <p class="year">PRESENT</p>
                    <div class="job-info">
                        <h2 class="role">Data Analyst</h2>
                        <span class="company">BOXRAW LABS</span>
                    </div>
                    <p>This is an internship postion in which Python was the leading programming language.
                        Using Boto3, and ffmpeg as the primary libraries, the primary solutions that were performed included cleaning raw data for analizing, using said data for AI training, and editing and uploading videos to then label and analize.
                    </p>
                </div>

                <div class="job">
                    <p class="year">PRESENT</p>
                    <div class="job-info">
                        <h2 class="role">Executive Assistant to CEO</h2>
                        <span class="company">THE PEEBLES CORPORATION</span>
                    </div>
                    <p>As the executive assistant to the chairman and CEO of a multimilion-dollar real estate development business, the primary goal was to ensure that all needs of the CEO and executive staff were met.
                        This included travel assistance, collaboration on several projects and managing administrative staff.
                    </p> 
                </div>

                <div class="job">
                    <p class="year">2020</p>
                    <div class="job-info">
                        <h2 class="role">Administrative Assistant</h2>
                        <span class="company">THE PEEBLES CORPORATION</span>
                    </div>  
                    <p>This role incorporated several aspects of administration and organization. As administrative assistant, the main objective was ensuring that all staff had their needs taken care of, along with ensuring that project deadlines were met.</p>
                </div>

            </div>

            <p class="eyebrow">Schools</p>
            <div class="universities">
                <div class="schools">
                    <p class="year">2024</p>
                    <div class="school-name">
                        <h2 class="role">Florida State University</h2>
                    </div>
                    <p>Bachelor of Science in Computer Science</p>
                </div>

                <div class="schools">
                    <p class="year">2018</p>
                    <div class="school-name">
                        <h2 class="role">Florida International University</h2>
                    </div>
                    <p>Bachelor of Science in Interdisciplinary Studies with a minor in Biology</p>
                </div>

                <div class="schools">
                    <p class="year">2015</p>
                    <div class="school-name">
                        <h2 class="role">Miami Dade College</h2>
                    </div>
                    <p>Associate in Arts in Biology</p>
                </div>

            </div>

            <p class="eyebrow">Certificates</p>
            <div class="certificates">
                <div class="program">
                    <p class="year">MAR 2025</p>
                    <div class="program-name">
                        <h2 class="role"><a href="https://www.credly.com/badges/c4abda71-56d5-47b3-af04-b51e8fc520c1/public_url">IBM Data Science Professional Certificate</a></h2>
                    </div>
                </div>
                <div class="program">
                    <p class="year">JUL 2024</p>
                    <div class="program-name">
                        <h2 class="role"><a href="https://courses.opencv.org/certificates/17c091c37c6844818a295d6fa425d5de">OpenCV Bootcamp</a></h2>
                    </div>
                </div>
                <div class="program">
                    <p class="year">DEC 2023</p>
                    <div class="program-name">
                        <h2 class="role"><a href="https://learn.microsoft.com/en-us/users/erikaavila-6443/credentials/4569858ad9ac50f8?ref=https%3A%2F%2Fwww.linkedin.com%2F">Microsoft Power Platform Fundamentals</a></h2>
                    </div>
                </div>
            </div>  
        </main>

        <aside>
            <h2 class="visually-hidden">My Skills</h2>
            <ul class="icon-list" role="list">
                <li>
                    <p class="visually-hidden">python</p>
                    <i class="fa-brands fa-python" alt=""></i>
                </li>
                <li>
                    <p class="visually-hidden">html</p>
                    <i class="fa-brands fa-html5" alt=""></i>
                </li>
                <li>
                    <p class="visually-hidden">css</p>
                    <i class="fa-brands fa-css" alt=""></i>
                </li>
                <li>
                    <p class="visually-hidden">javascript</p>
                    <i class="fa-brands fa-js" alt=""></i>
                </li>
                <li>
                    <p class="visually-hidden">java</p>
                    <i class="fa-brands fa-java" alt=""></i>
                </li>
                <li>
                    <p class="visually-hidden">android</p>
                    <i class="fa-brands fa-android" alt=""></i>
                </li>
            </ul>
        </aside>
    </div>
{% endblock %}